@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border p-0 m-0;
  }

  html {
    font-size: 62.5%;
  }

  body {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #1D232A;
  }
}
